In [1]:
import pandas as pd

In [3]:
df = pd.read_excel('./files/최종 상위 50개 지하철역.xlsx')
df

,역사명,자치구,역위도,역경도,역사도로명주소,근처 공연장수,공연건수,예매건수,퇴근시간 하차인원(17시~1시),신용판매금액,문화예술관람,한 공연당 예매건수,퇴근시간 하차인원(17시~1시)_score_1,한 공연당 예매건수_score_2,신용판매금액_score_3,문화예술관람_score_4,문화점수,인구점수,최종점수
0,강남,강남구,37.49720,127.0281,서울특별시 강남구 강남대로 지하 396 (역삼동),32,717,729016,8523024,2326,9.0,32536.280,5,4,3,3,7,8,7.5
1,신사,강남구,37.51619,127.0201,서울특별시 강남구 도산대로 지하 102 (신사동),27,141,689421,3000049,2326,9.0,132016.800,4,5,3,3,8,7,7.5
2,목동,양천구,37.52587,126.8646,서울특별시 양천구 오목로 지하245 (목동),6,22,127899,4354611,1635,6.9,34881.550,5,4,3,3,7,8,7.5
3,오목교,양천구,37.52437,126.8751,서울특별시 양천구 오목로 지하342 (목동),12,40,135918,3930592,1635,6.9,40775.400,5,4,3,3,7,8,7.5
4,압구정,강남구,37.52669,127.0284,서울특별시 강남구 압구정로 지하 172 (신사동),30,155,476649,2699955,2326,9.0,92254.650,4,5,3,3,8,7,7.5
5,역삼,강남구,37.50054,127.0364,서울특별시 강남구 테헤란로 지하 156 (역삼동),37,188,286744,2876699,2326,9.0,56433.660,4,4,3,3,7,7,7.0
6,왕십리,성동구,37.56153,127.0375,서울특별시 성동구 왕십리로 지하300(행당동),12,51,259636,3585752,1599,8.4,61090.820,4,5,2,3,8,6,7.0
7,구의,광진구,37.53692,127.0857,서울특별시 광진구 아차산로 384-1 (구의동),10,37,95648,5474505,1382,8.3,25850.810,5,4,2,3,7,7,7.0
8,성신여대입구,성북구,37.59274,127.0163,서울특별시 성북구 동소문로 지하 102 (동선동4가),136,1024,2076858,3996304,1339,7.4,275832.700,5,5,1,3,8,6,7.0
9,구파발,은평구,37.63665,126.9188,서울특별시 은평구 진관2로 지하 15-25 (진관동),18,79,241770,4232637,1445,9.3,55086.840,5,4,2,3,7,7,7.0
10,고속터미널,서초구,37.50437,127.0049,서울특별시 서초구 신반포로 지하 188 (반포동),26,713,720508,8979846,2336,5.3,26273.780,5,4,3,2,6,8,7.0
11,삼성,강남구,37.50869,127.0632,서울특별시 강남구 테헤란로 지하 538 (삼성동),18,101,186536,2780253,2326,9.0,33244.040,4,4,3,3,7,7,7.0
12,건대입구,광진구,37.54061,127.0701,서울특별시 광진구 아차산로 243 (화양동),17,60,118447,10085535,1382,8.3,33559.980,5,4,2,3,7,7,7.0
13,군자,광진구,37.55713,127.0794,서울특별시 광진구 천호대로 지하550,11,40,95701,5392669,1382,8.3,26317.780,5,4,2,3,7,7,7.0
14,선릉,강남구,37.50438,127.0487,서울특별시 강남구 테헤란로 지하 340 (삼성동),30,141,222792,2981660,2326,9.0,47402.550,4,4,3,3,7,7,7.0
15,상왕십리,성동구,37.56417,127.0294,서울특별시 성동구 왕십리로 지하 374 (하왕십리동),52,353,1013473,2831393,1599,8.4,149293.500,4,5,2,3,8,6,7.0
16,양재,서초구,37.48381,127.0346,서울특별시 서초구 남부순환로 지하 2585 (서초동),26,676,699547,3998643,2336,5.3,26905.650,5,4,3,2,6,8,7.0
17,교대,서초구,37.49320,127.0142,서울특별시 서초구 서초대로 지하 294 (서초동),26,693,666757,4334440,2336,5.3,25015.410,5,3,3,2,5,8,6.5
18,금호,성동구,37.54800,127.0157,서울특별시 성동구 동호로 지하 104 (금호동4가),32,198,740930,1831467,1599,8.4,119746.300,3,5,2,3,8,5,6.5
19,길음,성북구,37.60351,127.0250,서울특별시 성북구 동소문로 지하 248 (길음동),44,338,231922,4620336,1339,7.4,30191.030,5,4,1,3,7,6,6.5
20,신촌,마포구,37.55534,126.9369,서울특별시 마포구 신촌로 지하 90 (노고산동),40,364,179986,5121833,1586,6.3,19778.680,5,3,2,3,6,7,6.5
21,강변,광진구,37.53488,127.0947,서울특별시 광진구 강변역로 53 (구의동),10,174,400130,6585359,1382,8.3,22995.980,5,3,2,3,6,7,6.5
22,양천구청,양천구,37.51205,126.8656,서울특별시 양천구 목동로3길 지하 33(신정동),12,58,142874,1784526,1635,6.9,29560.140,3,4,3,3,7,6,6.5
23,홍대입구,마포구,37.55702,126.9250,서울특별시 마포구 양화로 지하160 (동교동),38,349,173963,9185956,1586,6.3,18941.530,5,3,2,3,6,7,6.5
24,옥수,성동구,37.54149,127.0178,서울특별시 성동구 동호로 21 (옥수동) 옥수역,27,174,669757,2068511,1599,8.4,103927.800,3,5,2,3,8,5,6.5
25,성수,성동구,37.54443,127.0560,서울특별시 성동구 아차산로 100 (성수동2가),18,74,135542,2874984,1599,8.4,32969.680,4,4,2,3,7,6,6.5
26,합정,마포구,37.54960,126.9141,서울특별시 마포구 양화로 지하 55 (서교동),38,459,150028,7334295,1586,6.3,12420.620,5,3,2,3,6,7,6.5
27,대청,강남구,37.49346,127.0795,서울특별시 강남구 일원로 지하 2 (일원동),10,68,325774,1679736,2326,9.0,47907.940,2,4,3,3,7,5,6.0
28,논현,강남구,37.51119,127.0213,서울특별시 강남구 학동로 지하102(논현동),25,112,203540,1737769,2326,9.0,45433.040,2,4,3,3,7,5,6.0
29,아차산,광진구,37.55204,127.0896,서울특별시 광진구 천호대로 지하657,8,33,92857,3068462,1382,8.3,22510.790,4,3,2,3,6,6,6.0
30,잠실,송파구,37.51377,127.1022,서울특별시 송파구 올림픽로 지하 265 (잠실동),6,153,315026,13369327,1801,4.8,12353.960,5,3,3,1,4,8,6.0
31,아현,마포구,37.55722,126.9561,서울특별시 마포구 신촌로 지하 270 (아현동),50,662,531463,1962092,1586,6.3,40140.710,3,4,2,3,7,5,6.0
32,망원,마포구,37.55594,126.9098,서울특별시 마포구 월드컵로 지하77 (망원동),33,322,129767,2702569,1586,6.3,13299.100,4,3,2,3,6,6,6.0
33,대치,강남구,37.49428,127.0633,서울특별시 강남구 남부순환로 지하 2952 (대치동),21,115,178490,1678018,2326,9.0,32593.830,2,4,3,3,7,5,6.0
34,매봉,강남구,37.48685,127.0467,서울특별시 강남구 남부순환로 지하 2744 (도곡동),23,112,202070,1203378,2326,9.0,41496.520,2,4,3,3,7,5,6.0
35,디지털미디어시티,은평구,37.57663,126.8997,서울특별시 은평구 수색로 지하175 (증산동),12,27,73729,2393977,1445,9.3,32768.440,3,4,2,3,7,5,6.0
36,어린이대공원,광진구,37.54780,127.0746,서울특별시 광진구 능동로 지하210(화양동),15,57,118299,1790155,1382,8.3,31131.320,3,4,2,3,7,5,6.0
37,잠실새내,송파구,37.51141,127.0860,서울특별시 송파구 올림픽로 지하 140 (잠실동),14,214,390420,4389081,1801,4.8,25541.500,5,3,3,1,4,8,6.0
38,마포구청,마포구,37.56351,126.9032,서울특별시 마포구 월드컵로 지하190 (성산동),23,50,120077,2460588,1586,6.3,55235.420,3,4,2,3,7,5,6.0
39,서울역,중구,37.55575,126.9725,서울특별시 중구 세종대로 지하 2 (남대문로 5가),55,486,537454,5810145,1196,1.6,60822.980,5,5,1,1,6,6,6.0
40,신금호,성동구,37.55441,127.0206,서울특별시 성동구 금호로 지하154 (금호동2가),35,194,794054,1394267,1599,8.4,143257.200,2,5,2,3,8,4,6.0
41,수서,강남구,37.48716,127.1016,서울특별시 강남구 광평로 지하 270 (수서동),3,150,307896,2796072,2326,9.0,6157.920,4,2,3,3,5,7,6.0
42,남부터미널,서초구,37.48482,127.0162,서울특별시 서초구 서초중앙로 지하 31 (서초동),24,685,701745,3038367,2336,5.3,24586.690,4,3,3,2,5,7,6.0
43,행당,성동구,37.55754,127.0297,서울특별시 성동구 행당로 지하89 (행당동),16,90,381028,1759243,1599,8.4,67738.310,2,5,2,3,8,4,6.0
44,뚝섬유원지,광진구,37.53126,127.0667,서울특별시 광진구 능동로 10 (자양동),24,94,213151,1946153,1382,8.3,54421.530,3,4,2,3,7,5,6.0
45,한성대입구,성북구,37.58838,127.0060,서울특별시 성북구 삼선교로 지하1 (삼선동1가),143,1032,2079629,2510758,1339,7.4,288165.600,3,5,1,3,8,4,6.0
46,청담,강남구,37.51960,127.0538,서울특별시 강남구 학동로 지하508 (청담동),32,175,281924,1202240,2326,9.0,51551.820,2,4,3,3,7,5,6.0
47,공덕,마포구,37.54412,126.9514,서울특별시 마포구 마포대로 지하100(공덕동),33,453,116403,3985758,1586,6.3,8479.689,5,2,2,3,5,7,6.0
48,신정,양천구,37.52501,126.8562,서울특별시 양천구 오목로 지하179 (신정동),4,17,9592,2867841,1635,6.9,2256.941,4,2,3,3,5,7,6.0
49,숙대입구,용산구,37.54468,126.9720,서울특별시 용산구 한강대로 지하 306,36,171,539090,1836840,1620,2.2,113492.600,3,5,3,1,6,6,6.0

In [4]:
pop = pd.read_excel('C:\\Users\\od022\\Desktop\\데청캠 프로젝트 5조\\원시 데이터\\서울 연령대별 인구현황.xlsx')
pop.head()

,행정기관코드,행정기관,자치구,총 거주자수,연령구간인구수,0~9세,10~19세,20~29세,30~39세,40~49세,...,30~39세.2,40~49세.2,50~59세.2,60~69세.2,70~79세.2,80~89세.2,90~99세.2,100세 이상.2,10대+20대,40대+50대
0,1111000000,서울특별시 종로구,종로구,"142,471","142,471","7,219","10,548","22,868","19,331","20,814",...,"9,709","10,696","11,951","9,778","6,384","3,451",618,19,33416,22647
1,1114000000,서울특별시 중구,중구,"120,157","120,157","6,452","6,565","18,165","19,688","17,121",...,"9,838","8,389","9,639","8,633","5,521","2,943",543,10,24730,18028
2,1117000000,서울특별시 용산구,용산구,"219,629","219,629","13,046","14,902","33,161","37,546","33,549",...,"18,904","17,043","17,684","14,253","8,714","5,063",862,24,48063,34727
3,1120000000,서울특별시 성동구,성동구,"285,235","285,235","19,732","19,219","44,032","47,174","43,227",...,"24,054","21,581","22,963","18,754","11,034","5,426",815,25,63251,44544
4,1121500000,서울특별시 광진구,광진구,"338,516","338,516","18,422","25,131","62,050","54,616","50,470",...,"27,528","25,643","27,037","22,524","11,823","5,479",850,32,87181,52680

In [5]:
pop = pop[['자치구','10대+20대','40대+50대']]
pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   자치구      25 non-null     object
 1   10대+20대  25 non-null     int64
 2   40대+50대  25 non-null     int64
dtypes: int64(2), object(1)
memory usage: 728.0+ bytes

In [8]:
df_pop = pd.merge(df,pop,on= '자치구')
df_pop

,역사명,자치구,역위도,역경도,역사도로명주소,근처 공연장수,공연건수,예매건수,퇴근시간 하차인원(17시~1시),신용판매금액,...,한 공연당 예매건수,퇴근시간 하차인원(17시~1시)_score_1,한 공연당 예매건수_score_2,신용판매금액_score_3,문화예술관람_score_4,문화점수,인구점수,최종점수,10대+20대,40대+50대
0,강남,강남구,37.49720,127.0281,서울특별시 강남구 강남대로 지하 396 (역삼동),32,717,729016,8523024,2326,...,32536.280,5,4,3,3,7,8,7.5,128632,90271
1,신사,강남구,37.51619,127.0201,서울특별시 강남구 도산대로 지하 102 (신사동),27,141,689421,3000049,2326,...,132016.800,4,5,3,3,8,7,7.5,128632,90271
2,압구정,강남구,37.52669,127.0284,서울특별시 강남구 압구정로 지하 172 (신사동),30,155,476649,2699955,2326,...,92254.650,4,5,3,3,8,7,7.5,128632,90271
3,역삼,강남구,37.50054,127.0364,서울특별시 강남구 테헤란로 지하 156 (역삼동),37,188,286744,2876699,2326,...,56433.660,4,4,3,3,7,7,7.0,128632,90271
4,삼성,강남구,37.50869,127.0632,서울특별시 강남구 테헤란로 지하 538 (삼성동),18,101,186536,2780253,2326,...,33244.040,4,4,3,3,7,7,7.0,128632,90271
5,선릉,강남구,37.50438,127.0487,서울특별시 강남구 테헤란로 지하 340 (삼성동),30,141,222792,2981660,2326,...,47402.550,4,4,3,3,7,7,7.0,128632,90271
6,대청,강남구,37.49346,127.0795,서울특별시 강남구 일원로 지하 2 (일원동),10,68,325774,1679736,2326,...,47907.940,2,4,3,3,7,5,6.0,128632,90271
7,논현,강남구,37.51119,127.0213,서울특별시 강남구 학동로 지하102(논현동),25,112,203540,1737769,2326,...,45433.040,2,4,3,3,7,5,6.0,128632,90271
8,대치,강남구,37.49428,127.0633,서울특별시 강남구 남부순환로 지하 2952 (대치동),21,115,178490,1678018,2326,...,32593.830,2,4,3,3,7,5,6.0,128632,90271
9,매봉,강남구,37.48685,127.0467,서울특별시 강남구 남부순환로 지하 2744 (도곡동),23,112,202070,1203378,2326,...,41496.520,2,4,3,3,7,5,6.0,128632,90271
10,수서,강남구,37.48716,127.1016,서울특별시 강남구 광평로 지하 270 (수서동),3,150,307896,2796072,2326,...,6157.920,4,2,3,3,5,7,6.0,128632,90271
11,청담,강남구,37.51960,127.0538,서울특별시 강남구 학동로 지하508 (청담동),32,175,281924,1202240,2326,...,51551.820,2,4,3,3,7,5,6.0,128632,90271
12,목동,양천구,37.52587,126.8646,서울특별시 양천구 오목로 지하245 (목동),6,22,127899,4354611,1635,...,34881.550,5,4,3,3,7,8,7.5,108006,78004
13,오목교,양천구,37.52437,126.8751,서울특별시 양천구 오목로 지하342 (목동),12,40,135918,3930592,1635,...,40775.400,5,4,3,3,7,8,7.5,108006,78004
14,양천구청,양천구,37.51205,126.8656,서울특별시 양천구 목동로3길 지하 33(신정동),12,58,142874,1784526,1635,...,29560.140,3,4,3,3,7,6,6.5,108006,78004
15,신정,양천구,37.52501,126.8562,서울특별시 양천구 오목로 지하179 (신정동),4,17,9592,2867841,1635,...,2256.941,4,2,3,3,5,7,6.0,108006,78004
16,왕십리,성동구,37.56153,127.0375,서울특별시 성동구 왕십리로 지하300(행당동),12,51,259636,3585752,1599,...,61090.820,4,5,2,3,8,6,7.0,63251,44544
17,상왕십리,성동구,37.56417,127.0294,서울특별시 성동구 왕십리로 지하 374 (하왕십리동),52,353,1013473,2831393,1599,...,149293.500,4,5,2,3,8,6,7.0,63251,44544
18,금호,성동구,37.54800,127.0157,서울특별시 성동구 동호로 지하 104 (금호동4가),32,198,740930,1831467,1599,...,119746.300,3,5,2,3,8,5,6.5,63251,44544
19,옥수,성동구,37.54149,127.0178,서울특별시 성동구 동호로 21 (옥수동) 옥수역,27,174,669757,2068511,1599,...,103927.800,3,5,2,3,8,5,6.5,63251,44544
20,성수,성동구,37.54443,127.0560,서울특별시 성동구 아차산로 100 (성수동2가),18,74,135542,2874984,1599,...,32969.680,4,4,2,3,7,6,6.5,63251,44544
21,신금호,성동구,37.55441,127.0206,서울특별시 성동구 금호로 지하154 (금호동2가),35,194,794054,1394267,1599,...,143257.200,2,5,2,3,8,4,6.0,63251,44544
22,행당,성동구,37.55754,127.0297,서울특별시 성동구 행당로 지하89 (행당동),16,90,381028,1759243,1599,...,67738.310,2,5,2,3,8,4,6.0,63251,44544
23,구의,광진구,37.53692,127.0857,서울특별시 광진구 아차산로 384-1 (구의동),10,37,95648,5474505,1382,...,25850.810,5,4,2,3,7,7,7.0,87181,52680
24,건대입구,광진구,37.54061,127.0701,서울특별시 광진구 아차산로 243 (화양동),17,60,118447,10085535,1382,...,33559.980,5,4,2,3,7,7,7.0,87181,52680
25,군자,광진구,37.55713,127.0794,서울특별시 광진구 천호대로 지하550,11,40,95701,5392669,1382,...,26317.780,5,4,2,3,7,7,7.0,87181,52680
26,강변,광진구,37.53488,127.0947,서울특별시 광진구 강변역로 53 (구의동),10,174,400130,6585359,1382,...,22995.980,5,3,2,3,6,7,6.5,87181,52680
27,아차산,광진구,37.55204,127.0896,서울특별시 광진구 천호대로 지하657,8,33,92857,3068462,1382,...,22510.790,4,3,2,3,6,6,6.0,87181,52680
28,어린이대공원,광진구,37.54780,127.0746,서울특별시 광진구 능동로 지하210(화양동),15,57,118299,1790155,1382,...,31131.320,3,4,2,3,7,5,6.0,87181,52680
29,뚝섬유원지,광진구,37.53126,127.0667,서울특별시 광진구 능동로 10 (자양동),24,94,213151,1946153,1382,...,54421.530,3,4,2,3,7,5,6.0,87181,52680
30,성신여대입구,성북구,37.59274,127.0163,서울특별시 성북구 동소문로 지하 102 (동선동4가),136,1024,2076858,3996304,1339,...,275832.700,5,5,1,3,8,6,7.0,102296,68735
31,길음,성북구,37.60351,127.0250,서울특별시 성북구 동소문로 지하 248 (길음동),44,338,231922,4620336,1339,...,30191.030,5,4,1,3,7,6,6.5,102296,68735
32,한성대입구,성북구,37.58838,127.0060,서울특별시 성북구 삼선교로 지하1 (삼선동1가),143,1032,2079629,2510758,1339,...,288165.600,3,5,1,3,8,4,6.0,102296,68735
33,구파발,은평구,37.63665,126.9188,서울특별시 은평구 진관2로 지하 15-25 (진관동),18,79,241770,4232637,1445,...,55086.840,5,4,2,3,7,7,7.0,103448,76526
34,디지털미디어시티,은평구,37.57663,126.8997,서울특별시 은평구 수색로 지하175 (증산동),12,27,73729,2393977,1445,...,32768.440,3,4,2,3,7,5,6.0,103448,76526
35,고속터미널,서초구,37.50437,127.0049,서울특별시 서초구 신반포로 지하 188 (반포동),26,713,720508,8979846,2336,...,26273.780,5,4,3,2,6,8,7.0,97778,70948
36,양재,서초구,37.48381,127.0346,서울특별시 서초구 남부순환로 지하 2585 (서초동),26,676,699547,3998643,2336,...,26905.650,5,4,3,2,6,8,7.0,97778,70948
37,교대,서초구,37.49320,127.0142,서울특별시 서초구 서초대로 지하 294 (서초동),26,693,666757,4334440,2336,...,25015.410,5,3,3,2,5,8,6.5,97778,70948
38,남부터미널,서초구,37.48482,127.0162,서울특별시 서초구 서초중앙로 지하 31 (서초동),24,685,701745,3038367,2336,...,24586.690,4,3,3,2,5,7,6.0,97778,70948
39,신촌,마포구,37.55534,126.9369,서울특별시 마포구 신촌로 지하 90 (노고산동),40,364,179986,5121833,1586,...,19778.680,5,3,2,3,6,7,6.5,89351,57907
40,홍대입구,마포구,37.55702,126.9250,서울특별시 마포구 양화로 지하160 (동교동),38,349,173963,9185956,1586,...,18941.530,5,3,2,3,6,7,6.5,89351,57907
41,합정,마포구,37.54960,126.9141,서울특별시 마포구 양화로 지하 55 (서교동),38,459,150028,7334295,1586,...,12420.620,5,3,2,3,6,7,6.5,89351,57907
42,아현,마포구,37.55722,126.9561,서울특별시 마포구 신촌로 지하 270 (아현동),50,662,531463,1962092,1586,...,40140.710,3,4,2,3,7,5,6.0,89351,57907
43,망원,마포구,37.55594,126.9098,서울특별시 마포구 월드컵로 지하77 (망원동),33,322,129767,2702569,1586,...,13299.100,4,3,2,3,6,6,6.0,89351,57907
44,마포구청,마포구,37.56351,126.9032,서울특별시 마포구 월드컵로 지하190 (성산동),23,50,120077,2460588,1586,...,55235.420,3,4,2,3,7,5,6.0,89351,57907
45,공덕,마포구,37.54412,126.9514,서울특별시 마포구 마포대로 지하100(공덕동),33,453,116403,3985758,1586,...,8479.689,5,2,2,3,5,7,6.0,89351,57907
46,잠실,송파구,37.51377,127.1022,서울특별시 송파구 올림픽로 지하 265 (잠실동),6,153,315026,13369327,1801,...,12353.960,5,3,3,1,4,8,6.0,149156,106195
47,잠실새내,송파구,37.51141,127.0860,서울특별시 송파구 올림픽로 지하 140 (잠실동),14,214,390420,4389081,1801,...,25541.500,5,3,3,1,4,8,6.0,149156,106195
48,서울역,중구,37.55575,126.9725,서울특별시 중구 세종대로 지하 2 (남대문로 5가),55,486,537454,5810145,1196,...,60822.980,5,5,1,1,6,6,6.0,24730,18028
49,숙대입구,용산구,37.54468,126.9720,서울특별시 용산구 한강대로 지하 306,36,171,539090,1836840,1620,...,113492.600,3,5,3,1,6,6,6.0,48063,34727

In [9]:
df_pop.describe()

,역위도,역경도,근처 공연장수,공연건수,예매건수,퇴근시간 하차인원(17시~1시),신용판매금액,문화예술관람,한 공연당 예매건수,퇴근시간 하차인원(17시~1시)_score_1,한 공연당 예매건수_score_2,신용판매금액_score_3,문화예술관람_score_4,문화점수,인구점수,최종점수,10대+20대,40대+50대
count,50.000000,50.000000,50.00000,50.000000,5.000000e+01,5.000000e+01,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.00000,50.000000,50.000000,50.000000,50.000000,50.000000
mean,37.535564,127.007700,28.60000,257.820000,4.062386e+05,3.860973e+06,1781.800000,7.440000,55732.956200,3.920000,3.920000,2.380000,2.76000,6.680000,6.300000,6.490000,98601.800000,67787.580000
std,0.032963,0.069379,26.14637,263.356412,4.211403e+05,2.557770e+06,395.766165,1.760334,58313.776166,1.084962,0.829064,0.635353,0.59109,1.038838,1.182353,0.529632,26591.636994,19826.335992
min,37.483810,126.856200,3.00000,17.000000,9.592000e+03,1.202240e+06,1196.000000,1.600000,2256.941000,2.000000,2.000000,1.000000,1.00000,4.000000,4.000000,6.000000,24730.000000,18028.000000
25%,37.511245,126.960075,12.50000,69.500000,1.376570e+05,1.988697e+06,1480.250000,6.300000,25618.827500,3.000000,3.250000,2.000000,3.00000,6.000000,5.000000,6.000000,87181.000000,52680.000000
50%,37.538765,127.023150,24.50000,154.000000,2.507030e+05,2.929180e+06,1599.000000,8.300000,33402.010000,4.000000,4.000000,2.000000,3.00000,7.000000,6.500000,6.500000,97778.000000,68735.000000
75%,37.555892,127.061400,33.00000,352.000000,5.386810e+05,4.380464e+06,2326.000000,9.000000,56134.100000,5.000000,4.000000,3.000000,3.00000,7.000000,7.000000,7.000000,128632.000000,90271.000000
max,37.636650,127.102200,143.00000,1032.000000,2.079629e+06,1.336933e+07,2336.000000,9.300000,288165.600000,5.000000,5.000000,3.000000,3.00000,8.000000,8.000000,7.500000,149156.000000,106195.000000

In [10]:
pop['10대+20대'].mean()

87797.84

In [11]:
pop['40대+50대'].mean()

59888.2

In [12]:
list1020 = []
for i in df_pop['10대+20대']:
    if i > pop['10대+20대'].mean():
        list1020.append('O')
    else:
        list1020.append('X')

In [13]:
df_pop['10-20대 평균'] = list1020
df_pop.head()

,역사명,자치구,역위도,역경도,역사도로명주소,근처 공연장수,공연건수,예매건수,퇴근시간 하차인원(17시~1시),신용판매금액,...,퇴근시간 하차인원(17시~1시)_score_1,한 공연당 예매건수_score_2,신용판매금액_score_3,문화예술관람_score_4,문화점수,인구점수,최종점수,10대+20대,40대+50대,10-20대 평균
0,강남,강남구,37.49720,127.0281,서울특별시 강남구 강남대로 지하 396 (역삼동),32,717,729016,8523024,2326,...,5,4,3,3,7,8,7.5,128632,90271,O
1,신사,강남구,37.51619,127.0201,서울특별시 강남구 도산대로 지하 102 (신사동),27,141,689421,3000049,2326,...,4,5,3,3,8,7,7.5,128632,90271,O
2,압구정,강남구,37.52669,127.0284,서울특별시 강남구 압구정로 지하 172 (신사동),30,155,476649,2699955,2326,...,4,5,3,3,8,7,7.5,128632,90271,O
3,역삼,강남구,37.50054,127.0364,서울특별시 강남구 테헤란로 지하 156 (역삼동),37,188,286744,2876699,2326,...,4,4,3,3,7,7,7.0,128632,90271,O
4,삼성,강남구,37.50869,127.0632,서울특별시 강남구 테헤란로 지하 538 (삼성동),18,101,186536,2780253,2326,...,4,4,3,3,7,7,7.0,128632,90271,O

In [14]:
list4050 = []
for i in df_pop['40대+50대']:
    if i > pop['40대+50대'].mean():
        list4050.append('O')
    else:
        list4050.append('X')

In [15]:
df_pop['40-50대 평균'] = list4050
df_pop.head()

,역사명,자치구,역위도,역경도,역사도로명주소,근처 공연장수,공연건수,예매건수,퇴근시간 하차인원(17시~1시),신용판매금액,...,한 공연당 예매건수_score_2,신용판매금액_score_3,문화예술관람_score_4,문화점수,인구점수,최종점수,10대+20대,40대+50대,10-20대 평균,40-50대 평균
0,강남,강남구,37.49720,127.0281,서울특별시 강남구 강남대로 지하 396 (역삼동),32,717,729016,8523024,2326,...,4,3,3,7,8,7.5,128632,90271,O,O
1,신사,강남구,37.51619,127.0201,서울특별시 강남구 도산대로 지하 102 (신사동),27,141,689421,3000049,2326,...,5,3,3,8,7,7.5,128632,90271,O,O
2,압구정,강남구,37.52669,127.0284,서울특별시 강남구 압구정로 지하 172 (신사동),30,155,476649,2699955,2326,...,5,3,3,8,7,7.5,128632,90271,O,O
3,역삼,강남구,37.50054,127.0364,서울특별시 강남구 테헤란로 지하 156 (역삼동),37,188,286744,2876699,2326,...,4,3,3,7,7,7.0,128632,90271,O,O
4,삼성,강남구,37.50869,127.0632,서울특별시 강남구 테헤란로 지하 538 (삼성동),18,101,186536,2780253,2326,...,4,3,3,7,7,7.0,128632,90271,O,O

In [81]:
df_pop.value_counts('10-20대 평균')

10-20대 평균
O    34
X    16
dtype: int64

In [85]:
df_pop.value_counts('40-50대 평균')

40-50대 평균
O    27
X    23
dtype: int64

In [89]:
all_df = df_pop[(df_pop['10-20대 평균'] == 'O') & (df_pop['40-50대 평균'] == 'O')]  # 1020, 4050 평균이상
all_df.value_counts('자치구') # 최종 지하철역(27개) 키오스크 설치시 모든 공연장르 홍보 최적

자치구
강남구    12
서초구     4
양천구     4
성북구     3
송파구     2
은평구     2
dtype: int64

In [90]:
df_1020 = df_pop[(df_pop['10-20대 평균'] == 'O') & (df_pop['40-50대 평균'] == 'X')]  # 1020만 평균이상
df_1020.value_counts('자치구')  # 최종 지하철역 추천에 포함시키는 역(7개) 키오스크 설치 시 연극, 뮤지컬 장르 홍보 추천

자치구
마포구    7
dtype: int64

In [91]:
df_4050 = df_pop[(df_pop['10-20대 평균'] == 'X') & (df_pop['40-50대 평균'] == 'O')]
df_4050.value_counts('자치구')   # 4050만 평균이상인 지역은 존재 X

Series([], dtype: int64)

In [95]:
df_pop.sort_values(by='40대+50대', ascending=False).head(5).value_counts('자치구')  # 상위 인구수 자치구에 위치한 역

자치구
강남구    3
송파구    2
dtype: int64

In [96]:
df_pop.sort_values(by='10대+20대', ascending=False).head(5).value_counts('자치구')

자치구
강남구    3
송파구    2
dtype: int64

In [14]:
df_drop = df[(df['10-20대 평균'] == 'X') & (df['40-50대 평균'] == 'X')]  # 최종 지하철역에서 제외되는 역(16개)
df_drop.value_counts('자치구')

자치구
광진구    7
성동구    7
용산구    1
중구     1
dtype: int64

In [15]:
df_drop['역사명']  # 제외되는 역사명 확인

6        왕십리
7         구의
12      건대입구
13        군자
15      상왕십리
18        금호
21        강변
24        옥수
25        성수
29       아차산
36    어린이대공원
39       서울역
40       신금호
43        행당
44     뚝섬유원지
49      숙대입구
Name: 역사명, dtype: object

In [16]:
df_pop.to_excel('./files/최종 50개 지하철역+연령대 인구.xlsx', index = False)